* {
    font-family: Arial, sans-serif;
    padding: 8px;
}

h1 {
    font-size: 50px;
    text-align: center;
    color: blueviolet;
}

img.main {
    width: 500px;
    height: auto;
    display: block;
    margin: auto;
}

ul {
    background-color: rgb(233, 209, 255);
    border: 1px solid rgb(87, 7, 87);
}

ol {
    background-color: rgb(241, 196, 179);
    border: 1px solid rgb(128, 0, 60)
}

ul, ol {
    color: rgb(88, 88, 88);
    padding-left: 0;
}

.list-of-inlines {
    display: flex;
    justify-content: center;
    flex: auto;
    /* Delete list item markers: */
    list-style: none; 
}

div {
    padding: 12px;
    border: 3px solid purple;
    /* for the /actual/ width to be 200px and 
    not 200 + all padding + all borders: */
}

span {
    background-color: rgb(238, 136, 212);
    display: inline-block;
    padding: 30px 5px;
}

.div-flex-container {
    display: flex;
    justify-content:space-around;
}
