* {
    font-family: Arial, sans-serif;
    padding: 8px;
}

body {
    font-size: 16px;
}

h1 {
    font-size: 4em;
    text-align: center;
    color: blueviolet;
}

img.main {
    width: 500px;
    height: auto;
    display: block;
    margin: auto;
}

ul {
    background-color: rgb(233, 209, 255);
    border: 1px solid rgb(87, 7, 87);
}

ol {
    background-color: rgb(241, 196, 179);
    border: 1px solid rgb(128, 0, 60)
}

ul, ol {
    color: rgb(88, 88, 88);
    padding-left: 0;
}

.list-of-flex {
    display: flex;
    justify-content: center;
    flex: auto;
    /* Delete list item markers: */
    list-style: none; 
}

div {
    padding: 12px;
    border: 3px solid purple;
}

span {
    background-color: rgb(238, 136, 212);
    display: inline-block;
    padding: 30px 5px;
}

.div-flex-container {
    display: flex;
    justify-content:center;
    /* flex: auto; */
    /* Add a gap between the flex items
    that is respected when the screen and
    the elements with it are shrunk: */
    gap: 1em;
    flex-direction: row;
}

/* for screens with width of 400px or less the 
flex direction will change from row to column: */
@media (max-width: 600px) {
    .div-flex-container {
        flex-direction: column;
    }
}

.div-flex-container > * {
    background-color: rgb(214, 228, 212);
    flex-grow: 0;
    flex-shrink: 1;
    /* width of items becomes the length of their content: */
    flex-basis: auto;
}